.header {
  z-index: 1000;
  position: relative;
}

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(80vh - 160px); 
  margin: 0; 

  .error-content {
    text-align: center;

    h1 {
      font-size: 1700%;
      color: #FF6060;
      margin: 0; 
      margin-bottom: 50px;
    }

    p {
      font-size: 3rem;
      color: #FF6060;
      margin: 0; 
      margin-bottom: 100px;
      font-weight: 500;
    }

    .home-link {
      font-size: 1.2rem;
      color: black;
      text-decoration: underline;
      font-weight: 500;

      &:hover {
        color: #FF6060;
      }
    }
  }
}

@media (max-width: 768px) {
  .not-found {
    margin: 0; 

    .error-content {
      h1 {
        font-size: 100px; 
        margin-bottom: 150px; 
      }

      p {
        font-size: 20px;
        margin-bottom: 100px 
      }

      .home-link {
        font-size: 18px;
      }
    }
  }
}