.banner {
    position: relative;
    width: 100%;
    max-width: 1240px;      
    margin: 0 auto;         
    height: 223px;
    background-image: url('../assets/banner1.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 15px; 
    }

    .banner-text {
      position: relative;
      color: #fff;
      font-size: 32px;
      z-index: 1;
    }
}