.footer {
    background-color: #000; // Fond noir
    color: #fff; // Couleur du texte
    height: 209px; // Hauteur du footer
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; // Prendre toute la largeur du navigateur
  
    .footer-logo {
      height: 50px; // Ajuste la hauteur du logo si nécessaire
      margin-bottom: 10px; // Espacement entre le logo et le texte
    }
  
    .footer-text {
      font-size: 14px; // Ajuste la taille de la police si nécessaire
      text-align: center; // Centre le texte
    }
  }